/* Reset some default styling */
body,
div,
h1,
h2,
h3,
p {
    font-family: 'Montserrat', sans-serif; /* You can also include 'Open Sans' here if needed */
    margin: 0;
    padding: 0;
}

/* Style for accordion header */
.accordion-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto; /* Center the header horizontally */
    display: flex;
    justify-content: space-between; /* Align header content and icon to the ends */
    align-items: center; /* Center vertically */
}
.accordion {
    width: fit-content;
    padding: 5px;
    margin: auto;
}
.accordion-header i {
    font-size: 14px; /* Adjust the size of the icon */
    margin-left: 10px; /* Add spacing between text and icon */
}
h1 {
    text-align: center;
}

/* Style for accordion content */
.accordion-content {
    padding: 10px;
    display: none;
    overflow: hidden; /* Hide any overflowing content */
}
