body {
    font-family: 'Montserrat', sans-serif;
}
/*HELLO!
/* Set the container to be centered in the middle of the page */
.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Adjust as needed for the height of the line */
}

/* Customize the HR tag with a small height, an orange color, and centered position */
hr.orange-line {
    width: 5%;
    /* Adjust as needed for the width of the line */
    height: 2px;
    background-color: orange;
    border: none;
    /* Removes the default line */
    margin: 0;
    /* Remove default margin */
}

/* Center the "Testimonial" heading and remove default margin */
h1 {
    text-align: center;
    margin: 0;
    position: relative;
    /* Set position to relative to enable vertical alignment */
}

/* Position the "Testimonial" heading over the orange line */
h1 b {
    background-color: white;
    /* Add background color to create a box around the text */
    padding: 0 10px;
    /* Add padding to increase the space around the text */
    position: absolute;
    top: -85px;
    /* Adjust as needed to move the heading closer to the line */
    left: 50%;
    transform: translateX(-50%);
    /* Center the heading horizontally */
}

p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.grey {
    color: grey;
}



.testimonial-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-text {
    text-align: center;
    margin-right: 20px;
    /* Adjust the margin to control the space between the text and the image */
}

.chef-image {
    float: left;
    border-radius: 50%;
    width: 150px;
    /* Adjust the width and height as needed */
    height: 150px;
    /* Additional styles for positioning */
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 80px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* Change to 'wrap' to allow the items to wrap to the next line */
    justify-content: center;
    /* Center the items horizontally */
    align-items: center;
    /* Center the items vertically */
}

.flex-container>div1 {
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: auto;
    text-align: center;
    line-height: 60px;
    justify-content: space-evenly;
    font-size: 15px;
}